.logo {
    padding-left: 0;
    padding-right: 0;
    width: auto;
    height: 50px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 400px;
    margin-top: 0;
    margin-bottom: 0;
    border-right: 1px solid lightgrey;
}

.repositories {
    margin-top: auto;
}

ul {
    padding: 0;
    list-style: none;
    height: fit-content;
    padding: 10px 30px;
    max-height: 300px;
    overflow: auto;
}

li {
    width: fit-content;
    cursor: pointer;
    margin: 5px 0;
}

li:hover {
    color: var(--secondary);
}

li.selected {
    color: var(--primary);
    border-bottom: 3px solid var(--primary);
}

.bottom {
    align-self: start;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 40px;
    padding-top: 0;
}
